## Задача №0 на разогрев

#### Натан выполняет 60% штрафных бросков. Если он выполнит 12 штрафных бросков, какова вероятность того, что он сделает ровно 10?

In [17]:
import numpy as np
from scipy.stats import binom

In [18]:
n = 12
p = 0.6
k = 10

In [19]:
print(binom.pmf(k, n, p))

0.06385228185600003

## Задача №1

#### Допустим, новый заказ стоит больше 1000 рублей с вероятностью 0.4. Оцените вероятность того, что из 100 новых заказов 50 или более стоят дороже 1000 рублей.

In [20]:
import numpy as np
from scipy.stats import binom

n = 100
p = 0.4
k = 50

In [21]:
final_sum = 0
for k in range(50, 101):
    final_sum += binom.pmf(k, n, p)

print(final_sum)

0.02709919775700913

## Задача №2

#### Определите топ-3 товара по суммарной выручке. Для решения используйте данные из файла 'sample_1.csv'

In [22]:
import pandas as pd
df = pd.read_csv("sample_1.csv")

In [27]:
df.groupby('good').sum('price').sort_values('price', ascending=False).head(3)

                            sale_id     price
good
chefs pizza             32237367353  24558240
double pepperoni pizza  31871262311  22558380
chicken bbq pizza       24906617611  17622540

## Задача №3

#### Оцените средний срок, который проходит от захода пользователя на сайт до совершения покупки. Будем считать, что заход на сайт относится к покупке, если он был совершён не ранее, чем за два часа до совершения покупки. Другими словами, для каждой покупки нужно посчитать время, которое проходит от покупки до первого захода на сайт того же пользователя в течение двух часов перед покупкой. И от полученных значений времени посчитать среднее.

##### Для решения используйте данные из файлов sample_2.csv и sample_3.csv

In [7]:
import pandas as pd

sales = pd.read_csv("sample_2.csv")
logs = pd.read_csv("sample_3.csv")

In [8]:
sales_cut = sales[['sale_id', 'date', 'user_id']]
sales_cut = sales_cut.rename(columns={'date': 'sale_date'})

In [9]:
logs_cut = logs[['date', 'user_id']]
logs_cut = logs_cut.rename(columns={'date': 'visit_date'})

In [14]:
df = logs_cut.merge(sales_cut, how='inner', on='user_id')

In [21]:
df[(df['sale_id'] == 1120029) | (df['sale_id'] == 1166145)].sort_values(['sale_id', 'visit_date'])

                  visit_date user_id  sale_id            sale_date
3626630  2022-03-08 19:34:45  8c5976  1120029  2022-03-08 19:53:13
3626632  2022-03-08 19:35:33  8c5976  1120029  2022-03-08 19:53:13
3626634  2022-03-08 19:36:42  8c5976  1120029  2022-03-08 19:53:13
3626636  2022-03-08 19:42:08  8c5976  1120029  2022-03-08 19:53:13
3626638  2022-03-08 19:46:21  8c5976  1120029  2022-03-08 19:53:13
3626640  2022-03-08 19:49:57  8c5976  1120029  2022-03-08 19:53:13
3626642  2022-03-08 19:50:18  8c5976  1120029  2022-03-08 19:53:13
3626644  2022-03-08 19:53:09  8c5976  1120029  2022-03-08 19:53:13
3626648       2022-03-21 15:  8c5976  1120029  2022-03-08 19:53:13
3626646  2022-03-21 15:39:49  8c5976  1120029  2022-03-08 19:53:13
3626631  2022-03-08 19:34:45  8c5976  1166145  2022-03-21 15:57:58
3626633  2022-03-08 19:35:33  8c5976  1166145  2022-03-21 15:57:58
3626635  2022-03-08 19:36:42  8c5976  1166145  2022-03-21 15:57:58
3626637  2022-03-08 19:42:08  8c5976  1166145  2022-03-21 15:57:58
3626639  2022-03-08 19:46:21  8c5976  1166145  2022-03-21 15:57:58
3626641  2022-03-08 19:49:57  8c5976  1166145  2022-03-21 15:57:58
3626643  2022-03-08 19:50:18  8c5976  1166145  2022-03-21 15:57:58
3626645  2022-03-08 19:53:09  8c5976  1166145  2022-03-21 15:57:58
3626649       2022-03-21 15:  8c5976  1166145  2022-03-21 15:57:58
3626647  2022-03-21 15:39:49  8c5976  1166145  2022-03-21 15:57:58

In [20]:
df[df['visit_date'] == '2022-03-21 15:']

             visit_date user_id  sale_id            sale_date
3626648  2022-03-21 15:  8c5976  1120029  2022-03-08 19:53:13
3626649  2022-03-21 15:  8c5976  1166145  2022-03-21 15:57:58

In [15]:
df

                  visit_date user_id  sale_id            sale_date
0        2022-02-03 23:45:37  f25239  1001036  2022-02-04 13:29:17
1        2022-02-03 23:45:37  f25239  1043183  2022-02-15 18:17:57
2        2022-02-03 23:45:37  f25239  1105200  2022-03-04 19:37:53
3        2022-02-03 23:45:37  f25239  1179179  2022-03-25 13:41:39
4        2022-02-03 23:51:43  f25239  1001036  2022-02-04 13:29:17
...                      ...     ...      ...                  ...
3731944  2022-03-21 15:43:55  41c5a8  1193156  2022-03-28 19:27:34
3731945  2022-03-21 15:36:23  66695e  1166111  2022-03-21 15:53:31
3731946  2022-03-21 15:36:48  66695e  1166111  2022-03-21 15:53:31
3731947  2022-03-21 15:40:18  c55be8  1166132  2022-03-21 15:56:22
3731948  2022-03-21 15:42:40  c55be8  1166132  2022-03-21 15:56:22

[3731949 rows x 4 columns]

In [ ]:
df['visit_date'] = df['visit_date'].astype('datetime64')
df['sale_date'] = df['sale_date'].astype('datetime64')

In [17]:
df

                  visit_date user_id  sale_id            sale_date
0        2022-02-03 23:45:37  f25239  1001036  2022-02-04 13:29:17
1        2022-02-03 23:45:37  f25239  1043183  2022-02-15 18:17:57
2        2022-02-03 23:45:37  f25239  1105200  2022-03-04 19:37:53
3        2022-02-03 23:45:37  f25239  1179179  2022-03-25 13:41:39
4        2022-02-03 23:51:43  f25239  1001036  2022-02-04 13:29:17
...                      ...     ...      ...                  ...
3731944  2022-03-21 15:43:55  41c5a8  1193156  2022-03-28 19:27:34
3731945  2022-03-21 15:36:23  66695e  1166111  2022-03-21 15:53:31
3731946  2022-03-21 15:36:48  66695e  1166111  2022-03-21 15:53:31
3731947  2022-03-21 15:40:18  c55be8  1166132  2022-03-21 15:56:22
3731948  2022-03-21 15:42:40  c55be8  1166132  2022-03-21 15:56:22

[3731949 rows x 4 columns]

In [149]:
df['check'] = df['time_diff'].apply(lambda x: 1 if x <= 2 else 0)

In [150]:
df_clean = df[df['check'] == 1]

In [151]:
new_df = df_clean.groupby(['sale_id'])['time_diff'].max().reset_index()

In [152]:
df_clean_group

,sale_id,visit_date,user_id,sale_date,time_diff,check
0,1000001,2022-03-20 18:15:37,1c1543,2022-02-04 10:00:24,0.172778,1
1,1000002,2022-03-20 10:44:38,a9a6e8,2022-02-04 10:02:28,0.286667,1
2,1000003,2022-03-13 16:15:09,23420a,2022-02-04 10:02:35,0.211667,1
3,1000004,2022-03-16 20:12:28,3e8ed5,2022-02-04 10:03:06,0.325833,1
4,1000005,2022-03-13 18:43:53,cbc468,2022-02-04 10:03:23,0.256111,1
...,...,...,...,...,...,...
166161,1166171,2022-03-21 15:42:59,0dfac2,2022-03-21 16:02:36,0.326944,1
166162,1166172,2022-03-21 15:43:35,a2151f,2022-03-21 16:02:44,0.329722,1
166163,1166174,2022-03-21 15:43:28,bad20d,2022-03-21 16:03:07,0.327500,1
166164,1166176,2022-03-21 15:43:35,7d9327,2022-03-21 16:03:19,0.328889,1
166165,1166179,2022-03-21 15:44:52,bf7e0c,2022-03-21 16:04:42,0.330556,1

In [153]:
int(new_df.time_diff.mean() * 60)

16